* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -ms-overflow-style:none;
}

html {
    position:absolute;
    margin: 0;
    width:100%;
    height:100%;
    font-family: 'Noto Sans JP', sans-serif;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

body {
    position:absolute;
    margin: 0;
    width:100%;
    height:100%;
    min-height:720px;
}

.custom-select-wrapper {
    position: relative;
    display: inline-block;
    width: 115px; /* 必要に応じて調整 */
}

.custom-select-wrapper select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: #fff;
    border: 1.5px solid rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 10px 40px 10px 15px;
    font-size: 16px;
    font-weight: bold;
    color: #333;
    cursor: pointer;
    outline: none;
    width: 100%;
    box-sizing: border-box;
    transition: 0.3s;
}

.type-icon {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    color: #333;
    font-size: 30px;
}

.custom-select-wrapper select:hover,
.custom-select-wrapper select:focus {
    border-color: rgba(0, 0, 0);
}

input[type="range"] {
    position:absolute;
    width: calc(100% - 140px);
    bottom: 10px;
    left: 65px;
}

#right_panel {
    position:absolute;
    width:calc(100% - 25% - 30px);
    height:calc(100% - 10px);
    bottom:calc(0% + 10px);
    right:calc(0% + 10px);
}

#left_panel {
    position:absolute;
    width:calc(0% + 25%);
    height:calc(100% - 10px);
    bottom:calc(0% + 10px);
    left:calc(0% + 10px);
    background: white;
}

#tolerance{
    position:absolute;
    width:100%;
    height:30%;
    top: 20px;
    left: 0%;
    background:white;
}

#tolerance_level_text{
    position:absolute;
    width: calc(100% - 10px);
    height: calc(0% + 30px);
    font-size: 16pt;
    left: 5px;
    font-weight: bold;
    text-align: center;
    border-bottom:2px solid black;
}

#tolerance_vocal{
    position:absolute;
    width:calc(100% - 10px);
    height:25%;
    top: 45px;
    left: 5px;
    background:rgba(0, 0, 0, 0.1);
}

.low-text{
    position:absolute;
    left: 0%;
    padding-left: 0.5em;
    font-size: 14pt;
    font-weight: bold;
    text-align: left;
    bottom: 8px;
    color: rgba(0, 0, 255, 1);
}

.high-text{
    position:absolute;
    right: 0%;
    padding-right: 0.5em;
    font-size: 14pt;
    font-weight: bold;
    text-align: right;
    bottom: 8px;
    color: rgba(255, 0, 0, 1);
}

#tolerance_inst{
    position:absolute;
    width:calc(100% - 10px);
    height:25%;
    top: calc(55px + 25%);
    left: 5px;
    background:rgba(0, 0, 0, 0.1);
}

#tolerance_lyric{
    position:absolute;
    width:calc(100% - 10px);
    height:25%;
    top: calc(65px + 50%);
    left: 5px;
    background:rgba(0, 0, 0, 0.1);
}

.tolerance_type_text{
    position:absolute;
    padding-left: 0.5em;
    width: calc(100% - 10px);
    height: calc(0% + 30px);
    font-size: 14pt;
    font-weight: bold;
    text-align: left;
}

#all_text{
    width: 50px;
    height: calc(0% + 30px);
    font-size: 16pt;
    font-weight: bold;
    text-align: center;
    border-bottom:2px solid black;
}

#all_area{
    position:absolute;
    width:calc(50% - 5px);
    height:calc(50% - 10px);
    top: 20px;
    left: 0px;
    background:white;
}

.map{
    position:absolute;
    width:100%;
    height:100%;
    right: 0px;
    top: 40px;
}

#other_area{
    position:absolute;
    width:calc(50% - 5px);
    height:calc(50% - 10px);
    top: 10px;
    right: 0px;
    background:white;
}

canvas {
    width: 100%;
    height: 100%;
    background:rgba(0, 0, 0, 0.1);
}

#player {
    position:absolute;
    width:calc(50% - 5px);
    height: calc(50% - 50px);
    bottom: 0px;
    left: 0px;
    background:white;
}

.layer-button {
    position:absolute;
    width: 50px;
    height: 38px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    user-select:none;
    font-size: 11pt;
    font-weight:bold;
    align-items: center;
    background:rgba(217,217,217,1);
}

.layer-button:hover {
    background:yellow;
}

.select-layer{
    background:yellow;
    border-bottom: 3px solid black;
}

#ALL-layer {
    top: 0px;
    right: 159px;
}

#VOCAL-layer {
    top: 0px;
    right: 106px;
}

#INST-layer {
    top: 0px;
    right: 53px;
}

#LYRIC-layer {
    top: 0px;
    right: 0px;
}

#song-select {
    position:absolute;
    width:100%;
    height:calc(70% - 45px);
    bottom: 0%;
    left: 0px;
    background:white;
}

#recommend-text{
    position:absolute;
    width: auto;
    height: calc(0% + 30px);
    font-size: 16pt;
    left: 5px;
    /* padding-left: 0.5em; */
    font-weight: bold;
    text-align: left;
    border-bottom:2px solid black;
}

#recommend {
    position:absolute;
    width:100%;
    height:calc(100% - 42px);
    top: 40px;
    left: 0px;
    background:white;
    overflow-y:auto;
}

.rec-select-window {
    position:relative;  
    display: flex;  
    width: 100%;
    height: calc(100% - 465px);
    align-items: center;
    border-bottom:1.5px solid black;
    cursor:pointer;
}

.rec-icon {
    letter-spacing: .1em;
    line-height: 1.5em;
    margin-left: 10px;
    width: 120px;
    height: 60px;
    background-size: 120px 85px;
    background-position: left;
}

.rec-title {
    letter-spacing: .1em;
    line-height: 1.5em;
    font-weight:bold;
    font-size:11pt;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.rec-writer {
    letter-spacing: .1em;
    line-height: 1.5em;
    font-weight:bold;
    font-size:9pt;
    margin-bottom: 10px;
    color: rgba(0, 0, 0, 0.54);
}

.song-selected {
    color:rgba(73,211,85,0.88);
}

#evaluation {
    position:absolute;
    width:calc(50% - 5px);
    height: calc(50% - 45px);
    bottom: 0px;
    right: 0px;
    background:white;
}

#evaluation_text{
    position:absolute;
    width: 150px;
    height: calc(0% + 30px);
    font-size: 16pt;
    font-weight: bold;
    text-align: center;
    border-bottom:2px solid black;
    top: 0px;
    left: 0px;
}

#evaluation-area {
    position:relative;
    width:100%;
    height: calc(100% - 30px);
    top: 30px;
    background:white;
    /* border-radius:10px; */
}

.select-icon{
    position: relative;
    color: black;
    pointer-events: none;
    font-size: 70px;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.evaluation-type{
    width: 100%;
    height: 23%;
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: space-evenly;
    background:rgba(217,217,217,1);
    border-radius: 8px;
}

.evaluation-type-text{
    position:relative;
    font-size: 17pt;
    top: 5.5px;
    left: 10px;
    font-weight: bold;
    margin-bottom: 3px;
}

.rating-button {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    /* margin-bottom: 10px; */
    /* padding: 10px; */
    border: none;
    cursor: pointer;
    /* background-color: rgba(0, 0, 0, 1); */
}

.select-icon.very-dissatisfied.active {
    color: rgba(0, 0, 255, 1);
}
.select-icon.dissatisfied.active {
    color: rgba(31, 174, 235, 0.82);
}
.select-icon.neutral.active {
    color: rgba(73,211,85,0.88);
}
.select-icon.satisfied.active {
    color: rgba(235, 109, 31, 0.82);
}
.select-icon.very-satisfied.active {
    color: rgba(255, 0, 0, 1);
}